name: Release
on:
  push:
    branches:
      - master

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      server: ${{ steps.filter.outputs.server }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - uses: dorny/paths-filter@v2.2.0
        id: filter
        with:
          filters: |
            backend:
                - 'backend/**/*'

  backend:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Declare some variables
        id: vars
        shell: bash
        run: |
          echo "setting variables"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Publish to Docker
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          username: tattletech
          password: ${{ secrets.DOCKER_PASSWORD }}
          name: tattletech/kosh-server
          tags: ${{ steps.vars.outputs.sha_short }}
          workdir: backend/

      # - name: Deploy to k8s
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.K8S_HOST_PROD }}
      #     username: ${{ secrets.K8S_USERNAME }}
      #     key: ${{ secrets.K8S_KEY }}
      #     script: |
      #       ./autodeploy_kosh_rest.sh ${{ steps.vars.outputs.sha_short }} >> ~/deploy.log 2>&1

      - name: Notify on Slack
        uses: rtCamp/action-slack-notify@v2.0.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: "Deployed Kosh to production environment"
          SLACK_TITLE: "staging-production workflow complete"
          SLACK_COLOR: "#020637"
          SLACK_ICON: https://tattle-media.s3.amazonaws.com/monogram-dark.svg